@model IEnumerable<Learn_CRUD_CoreWebApp_MVC.Models.Provider>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Provider</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderServices)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var provider in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => provider.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => provider.DateOfRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => provider.IsActive)
                </td>
                <td>
                @foreach(var service in provider.ProviderServices)
                {
                    @service.Services.Caption@:,
                }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@provider.ProviderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@provider.ProviderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@provider.ProviderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
